@tailwind base;
@tailwind components;
@tailwind utilities;

/**
 * 전체 앱에 적용되는 기본 CSS 설정입니다.
 */
@layer base {
  body {
    @apply antialiased bg-[#0A0514] text-white;
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
  }
}
